<a href="https://colab.research.google.com/github/2203a51714/AIML2024/blob/main/asgn1.part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Implementation of basic data structures using numpy and pandas

In [2]:
#creation list using array
import numpy as np
lst1=[10,11,12,13,114,15]
print('The list is ',lst1)

The list is  [10, 11, 12, 13, 114, 15]

In [3]:
#Creation of array using numpy
import numpy as np
lst1=[10,111,12,13,14,156]
arr1=np.array(lst1)
arr2=np.array([1,2,3,4,5,6])
print('The first array is ',arr1)
print('The second array is ',arr2)

The first array is  [ 10 111  12  13  14 156]
The second array is  [1 2 3 4 5 6]

In [4]:
#Verification of type of list and array
import numpy as np
lst1=[12,13,1,4,15,16]
array=np.array(lst1)
print(type(lst1))
print(type(array))

<class 'list'>
<class 'numpy.ndarray'>

In [5]:
#Implemention of mathematical operations of arrays
import numpy as np
arr1=np.array([10,11,12,13,14,15])
arr2=np.array([100,200,300,400,500,600])
arr3 = arr1*arr2
arr4 = arr1/arr2
arr5 = arr2**arr1
arr6 = arr1**arr2
print('The product array is ',arr3)
print('The division array is ',arr4)
print('The power off array is ',arr5)
print('The another power off array is ',arr6)

The product array is  [1000 2200 3600 5200 7000 9000]
The division array is  [0.1    0.055  0.04   0.0325 0.028  0.025 ]
The power off array is  [ 7766279631452241920   454253960476229632  7257836327071121408
  5444851949490929664  8958380283753660416 -5713836474110050304]
The another power off array is  [                   0 -5759996431746818975                    0
 -1173800453883803071                    0 -3872214443626246527]

In [6]:
#Implemention of Addition between two arrays
import numpy as np
arr1=np.array([10,20,30,40,50])
arr2=np.array([15,25,35,45,55])
arr3 = arr1+arr2
print('The Sum of arrays is ',arr3)

The Sum of arrays is  [ 25  45  65  85 105]

In [7]:
#Demonstration of entire age list of a factory employee
import numpy as np
employee=np.array([25,70,64,35,30,36,50,28,59,48,44,57,60,40,41,32,29,51,38,54])
senior = employee[employee >= 60]
junior = employee[employee < 60]
print('Senior employee list : ',senior)
print('Junior employee list : ',junior)

Senior employee list :  [70 64 60]
Junior employee list :  [25 35 30 36 50 28 59 48 44 57 40 41 32 29 51 38 54]

In [8]:
#Demostration of Sin, Cos, Tan, log, exp, log2
import numpy as np
lst = [10,20,30,40,50]
arr1 = np.array(lst)
arr2 = np.sin(arr1)
arr3 = np.cos(arr1)
arr4 = np.tan(arr1)
arr5 = np.log(arr1)
arr6 = np.log2(arr1)
arr7 = np.exp(arr1)
print('The sin array is ',arr2)
print('The cos array is ',arr3)
print('The tan array is ',arr4)
print('The logarithmic array is ',arr5)
print('The log2 array is ',arr6)
print('The exp array is ',arr7)

The sin array is  [-0.54402111  0.91294525 -0.98803162  0.74511316 -0.26237485]
The cos array is  [-0.83907153  0.40808206  0.15425145 -0.66693806  0.96496603]
The tan array is  [ 0.64836083  2.23716094 -6.4053312  -1.11721493 -0.27190061]
The logarithmic array is  [2.30258509 2.99573227 3.40119738 3.68887945 3.91202301]
The log2 array is  [3.32192809 4.32192809 4.9068906  5.32192809 5.64385619]
The exp array is  [2.20264658e+04 4.85165195e+08 1.06864746e+13 2.35385267e+17
 5.18470553e+21]